<!DOCTYPE html>
<html>
  <head>

    <base href="/">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="/bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-resource/angular-resource.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

    <script type="text/javascript" src="/javascripts/classes/Exception.class.js"></script>

    <script type="text/javascript" src="/javascripts/steamCrawlerApp.js"></script>
    <script type="text/javascript" src="/javascripts/s/mainService.js"></script>
    <script type="text/javascript" src="/javascripts/s/steamApiService.js"></script>
    <script type="text/javascript" src="/javascripts/s/crawlerApiService.js"></script>
    <script type="text/javascript" src="/javascripts/c/mainCtrl.js"></script>

    <script type="text/javascript" src="/javascripts/d/steamPersonaHistoryDropdown.js"></script>
    <script type="text/javascript" src="/javascripts/d/steamUserMediaBadge.js"></script>

    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Duru+Sans" rel="stylesheet">

  </head>
  <body ng-app="steamCrawlerApp" ng-cloak>
    <div class="container" ng-controller="mainCtrl">
      <div class="jumbotron">
        <h1>{{ 'Steam Crawler' | uppercase }}</h1>
      </div>
      <div class="row">
        <div class="form-group col-xs-4">
          <label>PlayerID</label>
          <input class="form-control" type="text" ng-blur="findPlayerInfo(player.steamid)" ng-model="player.steamid" />
        </div>
      </div>
      <div class="row" ng-show="history.length">
        <div class="col-xs-12">
          <h4>Previous Searches</h4>
        </div>
        <div class="col-sm-4" ng-repeat="player in history">
          <a ng-click="findPlayerInfo(player.steamid)">{{player.personaname}}</a>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" ng-show="!ready">
          Loading Player Data
        </div>
        <div class="col-xs-12" ng-show="ready">
          <h3>Player Found</h3>
          <steam-user-media-badge ng-model="player"></steam-user-media-badge>
          <h3 ng-show="player.friends.length">Friends</h3>
          <div style="margin-left: 30px;">
            <div class="media col-sm-6" ng-repeat="friend in player.friends | orderBy:'status'">
              <div class="media-left">
                <img class="media-object" ng-src="{{friend.avatar}}" />
              </div>
              <div class="media-body">
                <h4 class="media-heading">
                  <a ng-click="findPlayerInfo(friend.steamid)">{{friend.personaname}}</a>
                </h4>
                <div ng-class="{ 'text-success' : friend.status == 0, 'text-danger' : friend.status == 2, 'text-warning' : friend.status == 1 }">
                  <strong>{{determinePersonaState(friend)}}</strong>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
