<!DOCTYPE html>
<html>
  <head>

    <base href="/">

    <meta name="viewsport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="/bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-resource/angular-resource.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-filter/dist/angular-filter.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

    <script type="text/javascript" src="/javascripts/classes/Exception.class.js"></script>

    <script type="text/javascript" src="/javascripts/steamCrawlerApp.js"></script>
    <script type="text/javascript" src="/javascripts/s/mainService.js"></script>
    <script type="text/javascript" src="/javascripts/s/steamApiService.js"></script>
    <script type="text/javascript" src="/javascripts/s/crawlerApiService.js"></script>
    <script type="text/javascript" src="/javascripts/c/mainCtrl.js"></script>

    <script type="text/javascript" src="/javascripts/d/steamPersonaHistoryDropdown.js"></script>
    <script type="text/javascript" src="/javascripts/d/steamUserMediaBadge.js"></script>
    <script type="text/javascript" src="/javascripts/d/customButtonGroup.js"></script>

    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Duru+Sans" rel="stylesheet">

  </head>
  <body ng-app="steamCrawlerApp" ng-cloak>
    <div class="container" ng-controller="mainCtrl">
      <div class="jumbotron">
        <h1>{{ 'Steam Crawler' | uppercase }}</h1>
      </div>
      <div class="row">
        <div class="form-group col-xs-4">
          <label>PlayerID</label>
          <div class="input-group">
            <input class="form-control form-control-steam" type="text"
              ng-model="player.steamid" ng-change="findPlayerInfo(player.steamid)" ng-model-options="{ debounce : 300 }"/>
            <span class="input-group-btn">
              <a class="btn btn-steam"><span class="fa fa-search"></span></a>
            </span>
          </div>
        </div>
      </div>
      <div class="row" ng-show="history.length">
        <div class="col-xs-12">
          <h4>Previous Searches</h4>
        </div>
        <div class="col-sm-4" ng-repeat="player in history">
          <a ng-click="findPlayerInfo(player.steamid)">{{player.personaname}}</a>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" ng-show="!ready">
          Loading Player Data
        </div>
        <div class="col-xs-12" ng-show="ready">
          <h3>Player Found</h3>
          <steam-user-media-badge ng-model="player" col="2"></steam-user-media-badge>
          <custom-button-group ng-model="views.result"></custom-button-group>
        </div>
        <div class="col-xs-12" ng-show="ready && views.result.profile.show">
          <h3>Profile</h3>
          <div class="" ng-repeat="h in player.personahistory | unique:'avatarfull'">
              <img ng-src="{{h.avatarfull}}" />
          </div>
        </div>
        <div class="col-xs-12" ng-show="ready && views.result.friends.show">
          <h3>Friends</h3>
          <div>
            This player has {{players.friends.length || 0}} friends
          </div>
          <div style="margin-left: 30px;">
            <steam-user-media-badge class="col-sm-6" ng-model="friend" col="1" ng-repeat="friend in player.friends | orderBy:'status'"></steam-user-media-badge>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
