<!DOCTYPE html>
<html>
  <head>

    <base href="/">

    <title>Steam Crawler</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="/bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-resource/angular-resource.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-filter/dist/angular-filter.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

    <script type="text/javascript" src="/javascripts/classes/Exception.class.js"></script>

    <script type="text/javascript" src="/javascripts/steamCrawlerApp.js"></script>
    <script type="text/javascript" src="/javascripts/s/mainService.js"></script>
    <script type="text/javascript" src="/javascripts/s/steamApiService.js"></script>
    <script type="text/javascript" src="/javascripts/s/crawlerApiService.js"></script>
    <script type="text/javascript" src="/javascripts/s/serverApiService.js"></script>
    <script type="text/javascript" src="/javascripts/c/mainCtrl.js"></script>

    <script type="text/javascript" src="/javascripts/d/steamPersonaHistoryDropdown.js"></script>
    <script type="text/javascript" src="/javascripts/d/steamUserMediaBadge.js"></script>
    <script type="text/javascript" src="/javascripts/d/customButtonGroup.js"></script>

    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Duru+Sans" rel="stylesheet">

  </head>
  <body ng-app="steamCrawlerApp" ng-controller="mainCtrl" ng-cloak>
    <div class="container">
      <div class="jumbotron jumbotron-slim">
        <div class="media">
          <div class="media-left">
            <h1><span class="fa fa-steam fa-lg media-object"></span></h1>
          </div>
          <div class="media-body">
            <h1>{{ 'Steam Crawler' | uppercase }}</h1>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 inline-header steam-stat">
          <h1>{{stats.profileCount}}</h1><h3>Profiles recorded</h3>
        </div>
        <div class="col-xs-12">
            <custom-button-group radio hideable ng-model="views.general"></custom-button-group>
        </div>
        <div class="col-xs-12" ng-show="views.profilesLoading">
          <h3>
            <span class="fa fa-circle-o-notch fa-spin fa-lg"></span>
            Loading profiles...
          </h3>
        </div>
        <div class="col-xs-12" ng-repeat="view in views.general" ng-show="view.show && !views.profilesLoading">
          <h3>
            {{ view.name | uppercase }}
            <a ng-click="view.onshow(view.value, view.value2)"><span class="fa fa-refresh fa-steam-href fa-lg"></span></a>
          </h3>
          <div class="row container">
              <steam-user-media-badge class="col-xs-12 col-sm-6 col-md-4" ng-model="p" small col="1" ng-repeat="p in profiles | orderBy:view.value:true | limitTo:9"></steam-user-media-badge>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
            <custom-button-group ng-model="views.search"></custom-button-group>
        </div>
        <br />
        <br />
        <div>
          <form name="forms.steamSearch">
            <div class="form-group col-sm-4" ng-show="views.search.steamName.show">
              <label>Steam Name</label>
              <div class="input-group">
                <input class="form-control form-control-steam" type="text"
                  ng-model="player.personaname" ng-change="findPlayerByName(player.personaname)" ng-model-options="{ debounce : 300 }"/>
                <span class="input-group-btn">
                  <a class="btn btn-steam"><span class="fa fa-search"></span></a>
                </span>
              </div>
            </div>
            <div class="form-group col-sm-4" ng-show="views.search.playerId.show">
              <label>PlayerID</label>
              <div class="input-group">
                <input class="form-control form-control-steam" type="text" name="steamid"
                  ng-model="player.steamid" ng-change="findPlayerInfo(player.steamid)" ng-model-options="{ debounce : 300 }"
                  ng-minlength="17" ng-maxlength="17" />
                <span class="input-group-btn">
                  <a class="btn btn-steam" ng-click="findPlayerInfo(player.steamid)"><span class="fa fa-search"></span></a>
                </span>
              </div>
              <div class="help-block" ng-show="forms.steamSearch.steamid.$error.maxlength || forms.steamSearch.steamid.$error.minlength">
                PlayerID must be exactly 17 characters long.
              </div>
            </div>

          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" ng-show="searchResults && player.personaname.length">
          {{searchResults.length}} results found for a Steam Name like {{player.personaname}}
        </div>
        <div class="col-xs-6 col-sm-4 steam-search-result" style="margin-bottom: 5px; height: 38px;" ng-repeat="player in searchResults | unique:'personaname' | limitTo:12">
          <img class="personahistory-avatar" ng-src="{{player.avatarfull}}" ng-class="{ 'steam-status-online' : player.status == 0 }"/>
          <a ng-click="findPlayerInfo(player.steamid)">{{player.personaname}}</a>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" ng-show="!searchResults && !player._id">
          Search for a player.
        </div>
        <div class="col-xs-12" ng-show="player.steamid && !player._id">
          No player found for PlayerID {{player.steamid}}
        </div>
      </div>
      <div class="row" ng-show="history.length > 1 && views.search.history.show">
        <div class="col-xs-12">
          <h4>Previous Searches</h4>
        </div>
        <div ng-repeat="player in history | unique:'personaname'" class="col-xs-6 col-sm-4 steam-search-history" style="margin-bottom: 5px; height: 38px;" ng-hide="$index == 0">
          <img class="personahistory-avatar" ng-src="{{player.avatarfull}}" ng-class="{ 'steam-status-online' : player.status == 0 }"/>
          <a ng-click="findPlayerInfo(player.steamid)" ng-class="{ 'smaller' : player.personaname.length > 22, 'smallest' : player.personaname.length > 30 }">{{player.personaname}}</a>
        </div>
      </div>
      <br />
      <hr />
      <div class="row" ng-show="player && player._id" id="displayedProfile">
        <div class="col-xs-12" ng-show="!ready">
          Loading Player Data
        </div>
        <div class="col-xs-12" ng-show="ready">
          <h3>
            Player Found
            <span ng-show="!player.profileUpdated" class="fa fa-circle-o-notch fa-spin"
              uib-popover="Updating profile" popover-trigger="'mouseenter'"
              popover-class="popover-steam">
            </span>
          </h3>
          <steam-user-media-badge ng-model="player" col="2"></steam-user-media-badge>
          <custom-button-group ng-model="views.result"></custom-button-group>
        </div>
        <div class="col-xs-12 player-profile" ng-show="ready && views.result.profile.show">
          <h3>Profile <span ng-show="!player.profileUpdated" class="fa fa-circle-o-notch fa-spin"></span></h3>
          <div>
            This player has been viewed {{player.timesviewed}} times.
          </div>
          <div>
            <h4>Previous Avatars</h4>
            <span class="personahistory-avatar" ng-repeat="h in player.personahistory | unique:'avatarfull'">
                <img ng-src="{{h.avatarfull}}" />
            </span>
          </div>

        </div>
        <div class="col-xs-12" ng-show="ready && views.result.friends.show">
          <h3>
            Friends
            <span ng-show="!player.friendsLoaded && !player.profileUpdated" class="fa fa-circle-o-notch fa-spin"
              uib-popover="Updating profile" popover-trigger="'mouseenter'"
              popover-class="popover-steam">
            </span>
          </h3>
          <div ng-show="player.friendsList.length">
            This player has {{player.friendsList.length}} friends.
            <span ng-show="player.friends.length < player.friendsList.length">
              (Showing {{player.friends.length}} friends)
              <span class="fa fa-question-circle fa-steam-href" uib-popover="Profiles with more than 100 friends may not populate all friends from a single viewing." popover-class="popover-steam"></span>
            </span>
            <div ng-show="!player.friends.length && player.profileUpdated">
              No profiles found for {{player.personaname}}'s friends.
            </div>
          </div>
          <div ng-show="!player.friendsList.length && player.profileUpdated">
            No friends found for this profile.
          </div>
          <br />
          <div class="row container">
            <div class="col-xs-12">
              <custom-button-group radio ng-model="friendsList.size"></custom-button-group>
            </div>
            <div style="margin-left: 30px;">
              <steam-user-media-badge class="col-sm-6" ng-model="friend" col="1"
                ng-repeat="friend in player.friends | orderBy:[determinePersonaState, '-timesviewed', '-steamid' ] | limitTo:friendsList.indexLength:friendsList.indexStart">
              </steam-user-media-badge>
            </div>
            <br />
            <div class="col-xs-12">
              <div class="row" ng-show="friendsList.indexStart+friendsList.indexLength < player.friends.length">
                <a class="col-sm-offset-3 col-sm-6 col-xs-offset-2 col-xs-8 btn btn-steam" ng-click="friendsList.indexStart+friendsList.indexLength < player.friends.length ? friendsList.indexStart=friendsList.indexStart+friendsList.indexLength : friendsList.indexStart = 0">
                  <span ng-show="friendsList.indexStart+friendsList.indexLength < player.friends.length">
                    Show next {{friendsList.indexStart+(friendsList.indexLength*2) < player.friends.length ? friendsList.indexLength : player.friends.length - (friendsList.indexStart+friendsList.indexLength)}} friends
                  </span>
                  <span ng-show="friendsList.indexStart+friendsList.indexLength >= player.friends.length">
                    Back to beginning of Friends List
                  </span>
                </a>
              </div>
              <br />
              <div class="text-center">
                Showing {{friendsList.indexStart + 1}} to {{friendsList.indexStart+friendsList.indexLength < player.friends.length ? friendsList.indexStart+friendsList.indexLength : player.friends.length}} out of {{player.friends.length}} friends
                <a class="fa fa-refresh fa-steam-href" ng-click="friendsList.indexStart=0" ng-show="friendsList.indexStart>0"
                  uib-popover="Back to beginning of Friends List" popover-trigger="'mouseenter'" popover-class="popover-steam">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="text-center text-muted">
        <span class="fa fa-copyright"></span> 2016 Node Mules - v{{appInfo.version}}
      </div>
      <div class="text-center text-muted">
        <a uib-popover="{{appInfo.legalText}}" popover-class="popover-steam">Legal</a>
      </div>
    </footer>
  </body>
</html>
