body {
  padding: 50px;
  font-family: 'Duru Sans', sans-serif;
  color: #b8b6b4;
  background: #1b2838;
}

@media (max-width: 768px) {
  body {
    padding: 15px;
  }
}

footer {
  font-size: 10px !important;
}

footer .popover-content {
  font-size: 12px !important;
}

hr {
  border-top: 1px solid #67c1f5 !important;
}

a {
  color: #c6d4df;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
  color: #656f77;
}

.inline-header {
  margin-top: 15px;
  margin-bottom: 25px;
}

.inline-header * {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px;
}

.col-xs-12 {
  margin-bottom: 10px;
}

.jumbotron {
  background: #171a21;
}

.jumbotron.jumbotron-slim {
  padding-top: 15px;
  padding-bottom: 20px;
}

.jumbotron .media {
  margin-bottom: 0px;
}

.media {
  margin-top: 0px;
  margin-bottom: 15px;
}

.btn.btn-steam {
  color: #67c1f5 !important;
  background: rgba(103, 193, 245, 0.2);
  border-color: rgba(43, 40, 40, 0.7);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.btn.btn-steam:active, .btn.btn-steam.active {
  background: rgba(103, 193, 245, 0.125);
  border-color: rgba(30, 34, 53, 0.9);
}

.fa-steam-href {
  color: #67c1f5;
}

a .fa-steam-href:hover {
  text-decoration: none;
  color: rgba(103, 193, 245, 0.6);
}

.form-control-steam {
  color: #67c1f5 !important;
  background-color: rgba(103, 193, 245, 0.2);
  border-color: rgba(34,63,99,0.2);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.form-control-steam + .input-group-btn .btn-steam {
  height: 36px;
  top: -1px;
}

.dropdown-menu.dropdown-menu-steam {
  color: #67c1f5 !important;
  background: #2e3d50;
  padding: 5px;
}

.popover-steam {
  color: #67c1f5 !important;
  background: #2e3d50;
  box-shadow: 0 6px 24px rgba(0,0,0,.375);
}

.popover-steam .arrow::after {
  border-top-color: #2e3d50 !important;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.personahistory-list .personahistory-list-item {
  margin-left: 10px;
}

.steam-user-media-badge {
  min-height: 72px;
}

.steam-user-media-badge .media-object {
  min-height: 72px;
  min-width: 72px;
}

.steam-user-media-badge .media-heading span, .steam-user-media-badge .media-heading a:not(.btn) {
}

.steam-status-online {
  border: 3px solid #3c763d;
  border-radius: 3px;
}

.media-object:not(.steam-status-online) {
  border: 3px solid rgba(0,0,0,0);
}

.steam-stat h1 {
  color: #ffc14d;
  padding-right: 3px;
}
