body {
  padding: 50px;
  font-family: 'Duru Sans', sans-serif;
  color: #b8b6b4;
  background: #1b2838;
}

a {
  color: #c6d4df;
}

.jumbotron {
  background: #171a21;
}

.media {
  margin-top: 0px;
  margin-bottom: 15px;
}
