body {
  padding: 50px;
  font-family: 'Duru Sans', sans-serif;
  color: #b8b6b4;
  background: #1b2838;
}

hr {
  border-top: 1px solid #67c1f5 !important;
}

a {
  color: #c6d4df;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
  color: #656f77;
}

.col-xs-12 {
  margin-bottom: 10px;
}

.jumbotron {
  background: #171a21;
}

.jumbotron.jumbotron-slim {
  padding-top: 15px;
  padding-bottom: 20px;
}

.media {
  margin-top: 0px;
  margin-bottom: 15px;
}

.btn.btn-steam {
  color: #67c1f5 !important;
  background: rgba(103, 193, 245, 0.2);
  border-color: rgba(43, 40, 40, 0.7);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.btn.btn-steam:active, .btn.btn-steam.active {
  background: rgba(103, 193, 245, 0.125);
  border-color: rgba(30, 34, 53, 0.9);
}

.fa-steam-href {
  color: #67c1f5;
}

a .fa-steam-href:hover {
  text-decoration: none;
  color: rgba(103, 193, 245, 0.6);
}

.form-control-steam {
  color: #67c1f5 !important;
  background-color: rgba(103, 193, 245, 0.2);
  border-color: rgba(34,63,99,0.2);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.form-control-steam + .input-group-btn .btn-steam {
  height: 36px;
  top: -1px;
}

.dropdown-menu.dropdown-menu-steam {
  color: #67c1f5 !important;
  background: #2e3d50;
  padding: 5px;
}

.personahistory-list .personahistory-list-item {
  margin-left: 10px;
}

.steam-user-media-badge {
  height: 70px;
}

.steam-status-online {
  border: 3px solid #3c763d;
  border-radius: 3px;
}
